.elementor-278 .elementor-element.elementor-element-365968f {
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --align-items: center;
  --gap: 10px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --padding-top: 240px;
  --padding-right: 0px;
  --padding-bottom: 120px;
  --padding-left: 0px;
}
.elementor-278
  .elementor-element.elementor-element-365968f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-278
  .elementor-element.elementor-element-365968f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: var(--e-bg-lazyload-loaded);
  --e-bg-lazyload: url("../../2023/02/woman-at-the-plastic-surgeon.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-278 .elementor-element.elementor-element-365968f::before,
.elementor-278
  .elementor-element.elementor-element-365968f
  > .elementor-background-video-container::before,
.elementor-278
  .elementor-element.elementor-element-365968f
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-278
  .elementor-element.elementor-element-365968f
  > .elementor-background-slideshow::before,
.elementor-278
  .elementor-element.elementor-element-365968f
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-278
  .elementor-element.elementor-element-365968f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-primary) 0%,
    #10101417 100%
  );
}
.elementor-278 .elementor-element.elementor-element-365968f,
.elementor-278 .elementor-element.elementor-element-365968f::before {
  --border-transition: 0.3s;
}
.elementor-278 .elementor-element.elementor-element-98f209b {
  text-align: center;
}
.elementor-278
  .elementor-element.elementor-element-98f209b
  .elementor-heading-title {
  color: var(--e-global-color-9709138);
}
.elementor-278 .elementor-element.elementor-element-d2d406c {
  text-align: center;
  width: var(--container-widget-width, 750px);
  max-width: 750px;
  --container-widget-width: 750px;
  --container-widget-flex-grow: 0;
}
.elementor-278
  .elementor-element.elementor-element-d2d406c
  .elementor-heading-title {
  color: var(--e-global-color-7e8b7b5);
}
.elementor-278 .elementor-element.elementor-element-a4b0e69 {
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 10px;
  --background-transition: 0.3s;
  --padding-top: 100px;
  --padding-right: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-4b1bd98 {
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-cc95237 {
  text-align: left;
}
.elementor-278
  .elementor-element.elementor-element-cc95237
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-278 .elementor-element.elementor-element-b53d988 {
  text-align: left;
}
.elementor-278
  .elementor-element.elementor-element-b53d988
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-278 .elementor-element.elementor-element-01bf320 {
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: flex-end;
  --background-transition: 0.3s;
  --border-radius: 5px 5px 5px 5px;
  --margin-top: 0px;
  --margin-right: 10px;
  --margin-bottom: 0px;
  --margin-left: 10px;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-01bf320,
.elementor-278 .elementor-element.elementor-element-01bf320::before {
  --border-transition: 0.3s;
}
.elementor-278
  .elementor-element.elementor-element-272e82c.jkit-equal-height-enable,
.elementor-278
  .elementor-element.elementor-element-272e82c.jkit-equal-height-enable
  .elementor-widget-container,
.elementor-278
  .elementor-element.elementor-element-272e82c.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-image-box,
.elementor-278
  .elementor-element.elementor-element-272e82c.jkit-equal-height-enable
  .jeg-elementor-kit.jkit-image-box
  .image-box-body
  .body-inner {
  height: 100%;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box {
  flex-direction: row;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .image-box-body
  .body-inner {
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 80px 50px 80px 50px;
  border-radius: 0px 10px 10px 0px;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .image-box-header
  img {
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
  opacity: 100%;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box:hover
  .image-box-header
  img {
  opacity: 100%;
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .image-box-body
  .body-title {
  font-family: "Marcellus", Sans-serif;
  font-size: 26px;
  font-weight: 400;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .image-box-body
  .body-title.icon-position-before
  i,
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .image-box-body
  .body-title.icon-position-before
  svg {
  margin-right: 5px;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .image-box-body
  .body-title.icon-position-after
  i,
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .image-box-body
  .body-title.icon-position-after
  svg {
  margin-left: 5px;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .button-box
  .button-wrapper
  a {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
  color: var(--e-global-color-accent);
  background-color: transparent;
  background-image: linear-gradient(180deg, #02010100 0%, #f2295b00 100%);
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .button-box.icon-position-before
  i,
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .button-box.icon-position-before
  svg {
  margin-right: 5px;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .button-box.icon-position-after
  i,
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .button-box.icon-position-after
  svg {
  margin-left: 5px;
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  .jeg-elementor-kit.jkit-image-box
  .button-box
  .button-wrapper
  a
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-278
  .elementor-element.elementor-element-272e82c
  > .elementor-widget-container {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 3px 30px 0px
    rgba(23.999999999999996, 22.000000000000004, 43, 0.14);
}
.elementor-278 .elementor-element.elementor-element-b8a5995 {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: space-between;
  --gap: 0px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-4d9d99f {
  text-align: left;
}
.elementor-278
  .elementor-element.elementor-element-4d9d99f
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-278
  .elementor-element.elementor-element-4d9d99f
  > .elementor-widget-container {
  margin: 60px 0px 0px 0px;
}
.elementor-278
  .elementor-element.elementor-element-8e62a90
  .jet-unfold:not(.jet-unfold-state)
  .jet-unfold__content {
  max-height: 120px;
}
.elementor-278
  .elementor-element.elementor-element-8e62a90
  .jet-unfold__separator {
  height: 90px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff00 0%, #ffffff 100%);
}
.elementor-278
  .elementor-element.elementor-element-8e62a90
  .jet-unfold__button {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  color: var(--e-global-color-accent);
  background-color: #8b5a5a00;
}
.elementor-278 .elementor-element.elementor-element-8e62a90 .jet-unfold {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #ffffff9e 16%,
    var(--e-global-color-3b85e55) 100%
  );
}
.elementor-278
  .elementor-element.elementor-element-8e62a90
  .jet-unfold__content {
  color: #020101;
}
.elementor-278
  .elementor-element.elementor-element-8e62a90
  .jet-unfold__button {
  font-size: 13px;
}
.elementor-278
  .elementor-element.elementor-element-2e9c597
  > .elementor-widget-container
  > .jet-listing-grid
  > .jet-listing-grid__items {
  --columns: 3;
}
/* .elementor-278
  .elementor-element.elementor-element-71e83f5
  > .elementor-widget-container
  > .jet-listing-grid
  > .jet-listing-grid__items {
  --columns: 2;
} */
.elementor-278
  .elementor-element.elementor-element-0d81cd1.ekit-equal-height-enable,
.elementor-278
  .elementor-element.elementor-element-0d81cd1.ekit-equal-height-enable
  .elementor-widget-container,
.elementor-278
  .elementor-element.elementor-element-0d81cd1.ekit-equal-height-enable
  .ekit-wid-con,
.elementor-278
  .elementor-element.elementor-element-0d81cd1.ekit-equal-height-enable
  .ekit-wid-con
  .elementskit-infobox {
  height: 100%;
}
.elementor-278
  .elementor-element.elementor-element-0d81cd1
  .elementskit-infobox {
  background-color: #02010100;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #f5f5f5;
  border-radius: 5px 5px 5px 5px;
}
.elementor-278
  .elementor-element.elementor-element-0d81cd1
  .elementskit-infobox
  .elementskit-info-box-title {
  padding: 0px 0px 0px 0px;
  color: #000000;
}
.elementor-278
  .elementor-element.elementor-element-0d81cd1
  .elementskit-infobox:hover
  .elementskit-info-box-title {
  color: #000000;
}
.elementor-278
  .elementor-element.elementor-element-0d81cd1
  .elementskit-infobox
  .box-body
  > p {
  color: #656565;
}
.elementor-278
  .elementor-element.elementor-element-0d81cd1
  .elementskit-infobox:hover
  .box-body
  > p {
  color: #656565;
}
.elementor-278
  .elementor-element.elementor-element-0d81cd1
  .elementskit-infobox
  .elementskit-box-header
  .elementskit-info-box-icon {
  margin: 0px 0px 0px 0px;
}
.elementor-278
  .elementor-element.elementor-element-0d81cd1
  .elementskit-infobox
  .elementskit-info-box-icon {
  padding: 0px 0px 0px 0px;
  transform: rotate(0deg);
}
.elementor-278 .elementor-element.elementor-element-0d81cd1 {
  width: var(--container-widget-width, 293px);
  max-width: 293px;
  --container-widget-width: 293px;
  --container-widget-flex-grow: 0;
  top: 45px;
}
body:not(.rtl) .elementor-278 .elementor-element.elementor-element-0d81cd1 {
  left: -151px;
}
body.rtl .elementor-278 .elementor-element.elementor-element-0d81cd1 {
  right: -151px;
}
.elementor-278 .elementor-element.elementor-element-9506e43 {
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 10px;
  --background-transition: 0.3s;
  --padding-top: 100px;
  --padding-right: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
}
.elementor-278
  .elementor-element.elementor-element-9506e43:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-278
  .elementor-element.elementor-element-9506e43
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f4fa;
}
.elementor-278 .elementor-element.elementor-element-9506e43,
.elementor-278 .elementor-element.elementor-element-9506e43::before {
  --border-transition: 0.3s;
}
.elementor-278 .elementor-element.elementor-element-5fa595b {
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-4a11bf0 {
  text-align: left;
}
.elementor-278
  .elementor-element.elementor-element-4a11bf0
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-278 .elementor-element.elementor-element-0e924c3 {
  text-align: left;
}
.elementor-278
  .elementor-element.elementor-element-0e924c3
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-278
  .elementor-element.elementor-element-5081422
  > .elementor-widget-container
  > .jet-listing-grid
  > .jet-listing-grid__items {
  --columns: 2;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a.ekit-equal-height-enable,
.elementor-278
  .elementor-element.elementor-element-08bd76a.ekit-equal-height-enable
  .elementor-widget-container,
.elementor-278
  .elementor-element.elementor-element-08bd76a.ekit-equal-height-enable
  .ekit-wid-con,
.elementor-278
  .elementor-element.elementor-element-08bd76a.ekit-equal-height-enable
  .ekit-wid-con
  .elementskit-infobox {
  height: 100%;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a
  .elementskit-infobox {
  background-color: #02010100;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #f5f5f5;
  border-radius: 5px 5px 5px 5px;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a
  .elementskit-infobox
  .elementskit-info-box-title {
  padding: 0px 0px 0px 0px;
  color: #000000;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a
  .elementskit-infobox:hover
  .elementskit-info-box-title {
  color: #000000;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a
  .elementskit-infobox
  .box-body
  > p {
  color: #656565;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a
  .elementskit-infobox:hover
  .box-body
  > p {
  color: #656565;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a
  .elementskit-infobox
  .elementskit-box-header
  .elementskit-info-box-icon {
  margin: 0px 0px 0px 0px;
}
.elementor-278
  .elementor-element.elementor-element-08bd76a
  .elementskit-infobox
  .elementskit-info-box-icon {
  padding: 0px 0px 0px 0px;
  transform: rotate(0deg);
}
.elementor-278 .elementor-element.elementor-element-08bd76a {
  width: var(--container-widget-width, 293px);
  max-width: 293px;
  --container-widget-width: 293px;
  --container-widget-flex-grow: 0;
  top: 45px;
}
body:not(.rtl) .elementor-278 .elementor-element.elementor-element-08bd76a {
  left: -151px;
}
body.rtl .elementor-278 .elementor-element.elementor-element-08bd76a {
  right: -151px;
}
.elementor-278 .elementor-element.elementor-element-baec3be {
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 10px;
  --background-transition: 0.3s;
  --padding-top: 30px;
  --padding-right: 0px;
  --padding-bottom: 30px;
  --padding-left: 0px;
}
.elementor-278
  .elementor-element.elementor-element-dc0d763
  .jeg-elementor-kit.jkit-client-logo
  .client-track
  .image-list {
  min-height: 0px;
}
.elementor-278
  .elementor-element.elementor-element-dc0d763
  .jeg-elementor-kit.jkit-client-logo
  .client-slider
  .image-list {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-278
  .elementor-element.elementor-element-dc0d763
  .jeg-elementor-kit.jkit-client-logo
  .client-slider:hover
  .image-list {
  opacity: 100%;
}
.elementor-278
  .elementor-element.elementor-element-dc0d763
  .jeg-elementor-kit.jkit-client-logo
  .tns-controls
  button
  i,
.elementor-278
  .elementor-element.elementor-element-dc0d763
  .jeg-elementor-kit.jkit-client-logo
  .tns-controls
  button
  svg {
  opacity: 100%;
}
.elementor-278
  .elementor-element.elementor-element-dc0d763
  .jeg-elementor-kit.jkit-client-logo:hover
  .tns-controls
  button
  i,
.elementor-278
  .elementor-element.elementor-element-dc0d763
  .jeg-elementor-kit.jkit-client-logo:hover
  .tns-controls
  button
  svg {
  opacity: 100%;
}
.elementor-278
  .elementor-element.elementor-element-dc0d763
  > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}
.elementor-278 .elementor-element.elementor-element-ac8b1e4 {
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --gap: 10px;
  --background-transition: 0.3s;
  --overlay-opacity: 0.85;
  --padding-top: 100px;
  --padding-right: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --z-index: 5;
}
.elementor-278
  .elementor-element.elementor-element-ac8b1e4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-278
  .elementor-element.elementor-element-ac8b1e4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: var(--e-bg-lazyload-loaded);
  --e-bg-lazyload: url("../../2023/02/cosmetician-gives-chin-botox-injection-to-patient.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-278 .elementor-element.elementor-element-ac8b1e4::before,
.elementor-278
  .elementor-element.elementor-element-ac8b1e4
  > .elementor-background-video-container::before,
.elementor-278
  .elementor-element.elementor-element-ac8b1e4
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-278
  .elementor-element.elementor-element-ac8b1e4
  > .elementor-background-slideshow::before,
.elementor-278
  .elementor-element.elementor-element-ac8b1e4
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-278
  .elementor-element.elementor-element-ac8b1e4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: var(--e-global-color-primary);
}
.elementor-278 .elementor-element.elementor-element-ac8b1e4,
.elementor-278 .elementor-element.elementor-element-ac8b1e4::before {
  --border-transition: 0.3s;
}
.elementor-278 .elementor-element.elementor-element-96bcbac {
  --justify-content: flex-start;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-right: 30px;
  --margin-bottom: 0px;
  --margin-left: 10px;
  --padding-top: 0px;
  --padding-right: 10px;
  --padding-bottom: 0px;
  --padding-left: 10px;
}
.elementor-278 .elementor-element.elementor-element-cabe5c9 {
  text-align: left;
}
.elementor-278
  .elementor-element.elementor-element-cabe5c9
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-278 .elementor-element.elementor-element-d0c2d71 {
  text-align: left;
}
.elementor-278
  .elementor-element.elementor-element-d0c2d71
  .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-278 .elementor-element.elementor-element-9474791 {
  color: #e1e3ea;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-278
  .elementor-element.elementor-element-e4147d4
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-278 .elementor-element.elementor-element-562ce84 {
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 0px;
  --background-transition: 0.3s;
  --padding-top: 10px;
  --padding-right: 40px;
  --padding-bottom: 10px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-23eb752 {
  --background-transition: 0.3s;
}
.elementor-278
  .elementor-element.elementor-element-f8aec51
  .elementor-heading-title {
  color: var(--e-global-color-3b85e55);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-278 .elementor-element.elementor-element-3283b7d {
  --background-transition: 0.3s;
}
.elementor-278
  .elementor-element.elementor-element-44715d1
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
}
.elementor-278
  .elementor-element.elementor-element-44715d1
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-278 .elementor-element.elementor-element-44715d1 {
  --e-icon-list-icon-size: 14px;
}
.elementor-278
  .elementor-element.elementor-element-44715d1
  .elementor-icon-list-text {
  color: var(--e-global-color-3b85e55);
  padding-left: 8px;
}
.elementor-278
  .elementor-element.elementor-element-44715d1
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-278
  .elementor-element.elementor-element-44715d1
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-278 .elementor-element.elementor-element-c079736 {
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 0px;
  --background-transition: 0.3s;
  --padding-top: 10px;
  --padding-right: 40px;
  --padding-bottom: 10px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-22223b4 {
  --background-transition: 0.3s;
}
.elementor-278
  .elementor-element.elementor-element-bf8b0ab
  .elementor-heading-title {
  color: var(--e-global-color-3b85e55);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-278 .elementor-element.elementor-element-7e6479c {
  --background-transition: 0.3s;
}
.elementor-278
  .elementor-element.elementor-element-a8b60cd
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
}
.elementor-278
  .elementor-element.elementor-element-a8b60cd
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-278 .elementor-element.elementor-element-a8b60cd {
  --e-icon-list-icon-size: 14px;
}
.elementor-278
  .elementor-element.elementor-element-a8b60cd
  .elementor-icon-list-text {
  color: var(--e-global-color-3b85e55);
  padding-left: 8px;
}
.elementor-278
  .elementor-element.elementor-element-a8b60cd
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-278
  .elementor-element.elementor-element-a8b60cd
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-278 .elementor-element.elementor-element-377a93c {
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 0px;
  --background-transition: 0.3s;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #01163314;
  --padding-top: 10px;
  --padding-right: 40px;
  --padding-bottom: 10px;
  --padding-left: 0px;
}
.elementor-278 .elementor-element.elementor-element-377a93c,
.elementor-278 .elementor-element.elementor-element-377a93c::before {
  --border-transition: 0.3s;
}
.elementor-278 .elementor-element.elementor-element-fd8d2ec {
  --background-transition: 0.3s;
}
.elementor-278
  .elementor-element.elementor-element-b9665ee
  .elementor-heading-title {
  color: var(--e-global-color-3b85e55);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-278 .elementor-element.elementor-element-d1ee7f2 {
  --background-transition: 0.3s;
}
.elementor-278
  .elementor-element.elementor-element-14941ef
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
}
.elementor-278
  .elementor-element.elementor-element-14941ef
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-278 .elementor-element.elementor-element-14941ef {
  --e-icon-list-icon-size: 14px;
}
.elementor-278
  .elementor-element.elementor-element-14941ef
  .elementor-icon-list-text {
  color: var(--e-global-color-3b85e55);
  padding-left: 8px;
}
.elementor-278
  .elementor-element.elementor-element-14941ef
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-278
  .elementor-element.elementor-element-14941ef
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-278 .elementor-element.elementor-element-d6b03c2 {
  --justify-content: center;
  --background-transition: 0.3s;
  --border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 3px 30px 0px
    rgba(23.999999999999996, 22.000000000000004, 43, 0.14);
  --margin-top: 0%;
  --margin-right: 0%;
  --margin-bottom: 0%;
  --margin-left: 0%;
  --padding-top: 30px;
  --padding-right: 40px;
  --padding-bottom: 30px;
  --padding-left: 40px;
}
.elementor-278
  .elementor-element.elementor-element-d6b03c2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-278
  .elementor-element.elementor-element-d6b03c2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-278 .elementor-element.elementor-element-d6b03c2,
.elementor-278 .elementor-element.elementor-element-d6b03c2::before {
  --border-transition: 0.3s;
}
.elementor-278 .elementor-element.elementor-element-fc0fce7 {
  text-align: left;
  color: var(--e-global-color-text);
  font-family: "Marcellus", Sans-serif;
  font-size: 18px;
}
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 20px;
}
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -20px;
}
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 10px;
}
body:not(.rtl)
  .elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 10px;
}
body
  .elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 10px;
}
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  border-radius: 8px 8px 8px 8px;
}
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .elementor-field-group
  .elementor-select-wrapper
  select {
  border-radius: 8px 8px 8px 8px;
}
.elementor-278
  .elementor-element.elementor-element-f6c8d91
  .e-form__buttons__wrapper__button-previous {
  background-color: var(--e-global-color-7e8b7b5);
}
.elementor-278 .elementor-element.elementor-element-f6c8d91 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
@media (max-width: 1024px) {
  .elementor-278 .elementor-element.elementor-element-365968f {
    --padding-top: 7em;
    --padding-right: 0em;
    --padding-bottom: 0em;
    --padding-left: 0em;
  }
  .elementor-278 .elementor-element.elementor-element-a4b0e69 {
    --padding-top: 80px;
    --padding-right: 0px;
    --padding-bottom: 60px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-4b1bd98 {
    --margin-top: 0px;
    --margin-right: 10px;
    --margin-bottom: 0px;
    --margin-left: 10px;
  }
  .elementor-278 .elementor-element.elementor-element-01bf320 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 15px;
  }
  .elementor-278 .elementor-element.elementor-element-0d81cd1 {
    width: initial;
    max-width: initial;
  }
  .elementor-278 .elementor-element.elementor-element-9506e43 {
    --padding-top: 80px;
    --padding-right: 0px;
    --padding-bottom: 60px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-5fa595b {
    --margin-top: 0px;
    --margin-right: 10px;
    --margin-bottom: 0px;
    --margin-left: 10px;
  }
  .elementor-278 .elementor-element.elementor-element-08bd76a {
    width: initial;
    max-width: initial;
  }
  .elementor-278 .elementor-element.elementor-element-baec3be {
    --margin-top: 120px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 60px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
  }
  .elementor-278
    .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-slider
    .image-list {
    opacity: 30%;
  }
  .elementor-278 .elementor-element.elementor-element-ac8b1e4 {
    --padding-top: 80px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-96bcbac {
    --margin-top: 0px;
    --margin-right: 10px;
    --margin-bottom: 0px;
    --margin-left: 10px;
    --padding-top: 10px;
    --padding-right: 10px;
    --padding-bottom: 40px;
    --padding-left: 10px;
  }
  .elementor-278 .elementor-element.elementor-element-d6b03c2 {
    --margin-top: 0px;
    --margin-right: 20px;
    --margin-bottom: -100px;
    --margin-left: 20px;
    --padding-top: 40px;
    --padding-right: 40px;
    --padding-bottom: 40px;
    --padding-left: 40px;
  }
  .elementor-278 .elementor-element.elementor-element-fc0fce7 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .elementor-278
    .elementor-element.elementor-element-365968f:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-278
    .elementor-element.elementor-element-365968f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: bottom left;
  }
  .elementor-278 .elementor-element.elementor-element-365968f {
    --padding-top: 8em;
    --padding-right: 1em;
    --padding-bottom: 2em;
    --padding-left: 1em;
  }
  .elementor-278 .elementor-element.elementor-element-a4b0e69 {
    --justify-content: center;
    --padding-top: 40px;
    --padding-right: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-4b1bd98 {
    --width: 90%;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --flex-wrap: wrap;
    --margin-top: 0px;
    --margin-right: 5px;
    --margin-bottom: 0px;
    --margin-left: 5px;
  }
  .elementor-278 .elementor-element.elementor-element-01bf320 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
  }
  .elementor-278
    .elementor-element.elementor-element-272e82c
    .jeg-elementor-kit.jkit-image-box {
    flex-direction: column;
  }
  .elementor-278
    .elementor-element.elementor-element-272e82c
    .jeg-elementor-kit.jkit-image-box
    .image-box-body
    .body-inner {
    padding: 10px 10px 10px 10px;
  }
  .elementor-278 .elementor-element.elementor-element-b8a5995 {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-278
    .elementor-element.elementor-element-2e9c597
    > .elementor-widget-container
    > .jet-listing-grid
    > .jet-listing-grid__items {
    --columns: 1;
  }
  .elementor-278
    .elementor-element.elementor-element-71e83f5
    > .elementor-widget-container
    > .jet-listing-grid
    > .jet-listing-grid__items {
    --columns: 1;
  }
  .elementor-278 .elementor-element.elementor-element-0d81cd1 {
    width: initial;
    max-width: initial;
  }
  .elementor-278 .elementor-element.elementor-element-9506e43 {
    --content-width: 90%;
    --padding-top: 40px;
    --padding-right: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-5fa595b {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --flex-wrap: wrap;
    --margin-top: 0px;
    --margin-right: 5px;
    --margin-bottom: 0px;
    --margin-left: 5px;
  }
  .elementor-278
    .elementor-element.elementor-element-5081422
    > .elementor-widget-container
    > .jet-listing-grid
    > .jet-listing-grid__items {
    --columns: 1;
  }
  .elementor-278 .elementor-element.elementor-element-08bd76a {
    width: initial;
    max-width: initial;
  }
  .elementor-278 .elementor-element.elementor-element-baec3be {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 20px;
    --padding-right: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
  }
  .elementor-278
    .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo {
    margin: 0px 0px 0px -15px;
  }
  .elementor-278
    .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-slider
    .image-list {
    opacity: 100%;
  }
  .elementor-278 .elementor-element.elementor-element-ac8b1e4 {
    --padding-top: 40px;
    --padding-right: 0px;
    --padding-bottom: 40px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-96bcbac {
    --margin-top: 0px;
    --margin-right: 15px;
    --margin-bottom: 0px;
    --margin-left: 15px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-9474791 {
    text-align: left;
  }
  .elementor-278 .elementor-element.elementor-element-562ce84 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-23eb752 {
    --width: 43%;
  }
  .elementor-278 .elementor-element.elementor-element-3283b7d {
    --width: 57%;
  }
  .elementor-278 .elementor-element.elementor-element-44715d1 {
    --e-icon-list-icon-size: 12px;
  }
  .elementor-278 .elementor-element.elementor-element-c079736 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-22223b4 {
    --width: 43%;
  }
  .elementor-278 .elementor-element.elementor-element-7e6479c {
    --width: 57%;
  }
  .elementor-278 .elementor-element.elementor-element-a8b60cd {
    --e-icon-list-icon-size: 12px;
  }
  .elementor-278 .elementor-element.elementor-element-377a93c {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
  }
  .elementor-278 .elementor-element.elementor-element-fd8d2ec {
    --width: 43%;
  }
  .elementor-278 .elementor-element.elementor-element-d1ee7f2 {
    --width: 57%;
  }
  .elementor-278 .elementor-element.elementor-element-14941ef {
    --e-icon-list-icon-size: 12px;
  }
  .elementor-278 .elementor-element.elementor-element-d6b03c2 {
    --margin-top: 40px;
    --margin-right: 20px;
    --margin-bottom: 0px;
    --margin-left: 20px;
    --padding-top: 20px;
    --padding-right: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .elementor-278 .elementor-element.elementor-element-a4b0e69 {
    --content-width: 1290px;
  }
  .elementor-278 .elementor-element.elementor-element-b8a5995 {
    --width: 1290px;
  }
  .elementor-278 .elementor-element.elementor-element-9506e43 {
    --content-width: 1290px;
  }
  .elementor-278 .elementor-element.elementor-element-baec3be {
    --content-width: 1290px;
  }
  .elementor-278 .elementor-element.elementor-element-ac8b1e4 {
    --content-width: 1290px;
  }
  .elementor-278 .elementor-element.elementor-element-96bcbac {
    --width: 50%;
  }
  .elementor-278 .elementor-element.elementor-element-d6b03c2 {
    --width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-278 .elementor-element.elementor-element-01bf320 {
    --width: 50%;
  }
  .elementor-278 .elementor-element.elementor-element-96bcbac {
    --width: 100%;
  }
  .elementor-278 .elementor-element.elementor-element-d6b03c2 {
    --width: 100%;
  }
}
@media (min-width: 1025px) {
  .elementor-278
    .elementor-element.elementor-element-365968f:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-278
    .elementor-element.elementor-element-365968f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
} /* Start custom CSS for jet-unfold, class: .elementor-element-8e62a90 */
.elementor-278
  .elementor-element.elementor-element-8e62a90
  .jet-unfold__button.elementor-button.elementor-size-md {
  background-image: linear-gradient(120deg, #fff 0%, #fff 100%);
  border: none;
} /* End custom CSS */
@media (min-width: 1025px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider) {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider)
    .client-slider {
    width: calc(4);
  }
}
@media (min-width: 1025px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider)
    .client-slider:nth-child(n + 5) {
    display: none;
  }
}
@media (min-width: 1025px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider):not(:nth-child(4)) {
    margin-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider) {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider)
    .client-slider {
    width: calc();
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider)
    .client-slider:nth-child(n + 1) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider):not(:nth-child()) {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider) {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider)
    .client-slider {
    width: calc(2);
  }
}
@media (max-width: 767px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider)
    .client-slider:nth-child(n + 3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .elementor-element.elementor-element-dc0d763
    .jeg-elementor-kit.jkit-client-logo
    .client-track:not(.tns-slider):not(:nth-child(2)) {
    margin-right: 10px;
  }
}
/* Start custom CSS for form, class: .elementor-element-f6c8d91 */
.elementor-278 .elementor-element.elementor-element-f6c8d91 img {
  display: none;
} /* End custom CSS */
